.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.carousel-buttons button {
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    max-width: 100px;
    cursor: pointer;
    margin-top: 20px;
}

.latest-games,
.hidden {
    display: none;
}

.visible {
    display: grid;
}

.button-placement {
    display: flex;
    justify-content: center;
}