@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.cta-menu {
    font-family: 'Fredericka the Great', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #000;
}

a {
    text-decoration: none;
}